html,body{
		padding: 0px;
		margin:0px;
		width:100%;
	}
	ul{
		padding: 0px;
		margin:0px;
	}
	li{
		list-style: none;
	}
	*{
		font-family: "微软雅黑";
	}
	a:hover{text-decoration: none;}
		#abox{background-color:#282828;}
		.header{width:1180px;height: 85px;position: relative;margin: 0 auto;}
		.header img{position:absolute;left:0px;top:12px;}
		div.list{position:absolute;left:460px;height: 85px;}
		.list li{float:left;width:90px;height:85px;color:#7D7D7D;font-size: 16px;
		}
		li.active{position:relative;z-index:1;background-color:#FCC10E ;color: #e33a29;}
		div.glyphicon{font-size: 24px;display: block;}
		.wrap{text-align: center;margin: 20px 0px 19px 0px;}
		.array{display: none;}
		.array li{font-size:12px;color: #e33a29;background-color:#FCC10E ;width:90px;height: 40px; text-align:center; line-height: 40px;
		border: 1px dashed #EEB402;}
		.array li:hover{background-color:#E33A29;color:#FCC10D;}
		.array li:nth-child(1){height:8px;border:none;background: url(../img/Untitled-1.gif);}
		#cbox{position:relative;height:504px;overflow: hidden;}
		#cbox ul{position:absolute;width: 100%;}
		#cbox ul li{height:504px;}
		#cbox .imgs{width:100%;height: 504px;}
		#bbox{position:relative;width:1180px;height: 504px;margin:0 auto;}
		#cbox .choose{position:absolute;left:35px;bottom:23px;background:rgba(0,0,0,0.5);width: 600px;height: 65px;}
		#cbox .choose li{float: left;}
		#cbox .simg{width:85px;height:50px;border:2px solid #FFFFFF;margin:5px;}
		#cbox .simg.active{border:2px solid #FF8C00;}
		#leftb,#rightb{background-color:#373737;color:#000000;text-align:center;line-height:50px;font-weight:bold;font-size:36px;margin:5px;left:17px;top:10px;width:35px;height: 50px;}
		#leftb{margin-left: 10px;float:left;}
		#rightb{margin-right:15px;float:right;}
		.infobox{width:303px;height:465px;position:absolute;top:18px;right:0px;background: url(../img/topbg.png);}
		.infobox{padding-top:50px;text-align: center;}
		.infobox a{font-size: 16px;color: #E35E68;}
		.infobox a:hover{color:#1CAA00;}
		.boxinfo{padding: 20px 20px 0 20px;}
		.boxinfo p{width:263px;height:72px;font-size: 12px;text-indent: 2em;color:#7d7d7d;text-align: left;line-height: 24px;margin-top: 10px;
		 }
		 #dbox{padding-top:10px;width:100%;height:209px;background-color: #F2F2F2;zoom:1;}
		 #dbox .hotstar{width:1180px;height:35px;line-height:35px;background: url(../img/title.png) no-repeat;margin:0 auto;}
		 #dbox .starpic{float:left;width:100%;height:45px;}
		 #dbox .hotstar a{text-align:center;font-size:12px;color:#7D7D7D;float:left;padding-left: 25px;}
		 #dbox .hotstar a:nth-child(1){padding-left: 200px;}
		 #dbox .hotstar a:hover{color:#1CAA00;}
		 .starpic ul{width:1180px;margin:0 auto;}
		 .starpic li{float:left;margin:15px 11px 10px 11px;} 
		 .picstar{position:relative;border-radius: 50%;border: 5px solid #FFFFFF;overflow: hidden;box-shadow:0px 0px 5px 5px #E8E8E8;}
		 .picstar img{width:115px;height: 115px;} 
		 .lt,.lb,.rt,.rb{opacity:0.3;z-index:200;position:absolute;width:60px;height:60px;border-radius: 50%;background-color: black;}
		 .lt{top:-63px;left: -63px;}
		 .lb{top:-63px;right:-63px;}
		 .rt{bottom:-63px;left: -63px;}
		 .rb{bottom:-63px;right:-63px;}
		 .picstar p{z-index:200;position:absolute;top:47px;left:36px;color:#FFFFFF;display: none;}
		 #ebox,#fbox{width:1180px;margin:0 auto;}
		 #ebox li{float: left;}
		 #ebox img{width:200px;height:280px;margin:10px;}
		 #ebox img:hover{box-shadow:0px 0px 5px 2px #AFE1A6;opacity: 0.95;}
		.menu1{float:left;width:299px;height:580px;background-color: #F6F6F6;margin:10px;margin-right:0px; }
		.filimg{width:870px;float: left;}
		.filimg ul{margin-left:-10px ;}
		 #ebox .hotmovie,#fbox .hotmusic{width:860px;float:left;margin-top:10px;height:35px;line-height:35px;background: url(../img/title.png) no-repeat;background-position-y: -35px;}
		 #ebox .hotmovie a,#fbox .hotmusic a{text-align:center;font-size:12px;color:#7D7D7D;float:right;padding-left: 25px;}
		 #ebox .hotmovie a:hover,#fbox .hotmusic a:hover{color:#1CAA00;}
		.titlebox{float:left;width:299px;height:35px;margin-top:10px;margin-left:20px;color:#1CAA00;font-size: 16px;line-height: 35px;}
		.filimg ul li{position:relative;}
		.filtop{width:45px;height:20px;line-height:20px;text-align:center;background-color:#1CAA00;position:absolute;top:10px;left: 10px;color:white;font-size: 12px;}
		.filbottom{background-color:#000000;opacity:0.8;position: absolute;bottom:10px;left:10px;width:200px;height:35px;line-height:35px;text-align:center;color:#FFFFFF;}
		 #ebox .menu1 img{margin-top:6px;float:left;width:20px;height:20px;}
		 #ebox .menu1 ul{padding: 10px;}
		 #ebox .menu1 li{width:270px;height:32px;}
		.flitext{display:inline;font-size: 14px;text-align: center;line-height: 32px;}
		.flitext a{color:#282828;}
		.flitext a:hover{color:#1CAA00;}
		.flinum{display:inline;font-size:16px;text-align: center;line-height: 32px;color:#60AA00;float: right;font-weight: bold;}
		#fbox .hotmusic{width:100%;background-position-y: -145px;}
		#fbox .hotmusic a:nth-child(1){margin-right:20px;}
		.musiclist img{float:left;width: 75px;height: 75px;border-radius: 50%;transition: 0.5s ease-out/*-webkit-transition:-webkit-transform 0.5s ease-out*/}
		.musiclist img:hover{transform:rotateZ(360deg);-ms-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-o-transform:rotateZ(360deg); }
		.musiclist ul{float:left;/*请浮动*/background-color:#F6F6F6;margin-top:10px;}
		.musiclist li{float:left;width:360px;height:75px;margin-top:20px;margin-left: 30px;}
		.minfo img{width:22px;height:22px;}
		.minfo{margin-left:90px;}
		.minfo a{color: #7d7d7d;font-size: 16px;padding-top: 15px;line-height: 22px;height: 22px;}
		.minfo span{color:#7D7D7D;}
		.minfo a:hover{color:#1CAA00;}
		.minfodetail{color: #7d7d7d;margin-left:90px;font-size: 12px;padding-top: 10px;}
		#gbox{float:left;margin-top:20px;height: 120px;width:100%;background-color: #282828;padding:25px 85px;}
		#gbox .ginfo,#gbox .ginfo a{color:#FCC10D;}
		#gbox .ginfo span{margin-right:20px;}
		#gbox .ginfodetail{margin-top:20px;color:#787570;}
		#hbox{width: 1180px;margin:0 auto;}
